services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecret
    ports:
      - "5432:5432"
  storage:
    image: scireum/s3-ninja
    restart: always
    ports:
      - "9000:9000"